{% extends "base.html" %}
{% load static %}

{% block title %}Account Information{% endblock %}

{% block content %}
<div id="header">
    <span class="logo">BookBarn - Account</span>
    <ul class="menu">
        {% if request.session.user_id == None %}
        <li><a href="/">Login / Register</a></li>
        {% else %}
        <li><a href="/bookbarn/homepage">Homepage</a></li>
        <li><a href="/bookbarn/favorited_books/{{user_info.id}}">Favorite Books</a></li>
        <li><a href="/bookbarn/orders/{{user_info.id}}">Orders</a></li>
        <li><a href="/bookbarn/requests/{{user_info.id}}">Book Requests</a></li>
        {% endif %}
    </ul>
    <span class="user">
        {% if request.session.user_id != None %}
        Hello {{ request.session.name }} | 
        <a href="/logout">Logout</a>
        {% endif %}
    </span>
</div>
<div class="content">
    <h3>Account Info:</h3>
    {% if user_info.photo == None %}
    <img src="../../media/default_profile_pic.jpg"/>
    {% else %}
    <img src="../../media/{{user_info.photo}}"/>
    {% endif %}
    <p>First Name: {{user_info.first_name}}</p>
    <p>Last Name: {{user_info.last_name}}</p>
    <p>Email: {{user_info.email}}</p>
    <p>Address: {{user_info.address}}</p>
    <h3>Edit Your Account</h3>
    <form action="/bookbarn/edit_account/{{user_info.id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label for="photo">Upload a Picture</label></p>
        <p><input type="file" name="photo"></p>
        <p><label for="address">Add Your Address</label></p>
        <p><input type="text" name="address" value="{{user_info.address}}"></p>
        <p><input type="submit" value="Save Changes"></p>
    </form>
</div>
{% endblock %}