{% extends "base.html" %}
{% load static %}

{% block title %}BookBarn Homepage{% endblock %}

{% block content %}
<div id="header">
    <span class="logo">BookBarn</span>
    <ul class="menu">
        {% if request.session.user_id == None %}
        <li><a href="/">Login / Register</a></li>
        {% else %}
        <li><a href="/bookbarn/account/{{user_info.id}}">Account</a></li>
        <li><a href="/bookbarn/favorited_books/{{user_info.id}}">Favorite Books</a></li>
        <li><a href="/bookbarn/orders/{{user_info.id}}">Orders</a></li>
        <li><a href="/bookbarn/requests/{{user_info.id}}">Requests</a></li>
        {% endif %}
    </ul>
    <span class="user">
        {% if request.session.user_id != None %}
            Hello, {{ request.session.name }} | 
            <a href="/logout">Logout</a>
        {% endif %}
    </span>
</div>
<div class="content">
    <h3>Available Books</h3>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Book Image</th>
                <th>Title</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <td><img src="../../media/{{book.image}}" alt="Book Image"></td>
                <td><a href="/bookbarn/detail/{{book.id}}">{{book.title}}</a></td>
                <td>{{book.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/bookbarn/listing">Add a Listing!</a>
</div>
{% endblock %}