{% extends "base.html" %}
{% load static %}

{% block title %}BookBarn Homepage{% endblock %}

{% block content %}
<div id="header">
    <span class="logo">BookBarn</span>
    <ul class="menu">
        {% if request.session.user_id == None %}
        <li><a href="/">Login / Register</a></li>
        {% else %}
        <li><a href="/bookbarn/account/{{user_info.id}}">Account</a></li>
        <li><a href="/bookbarn/favorited_books/{{user_info.id}}">Favorited Books</a></li>
        <li><a href="/bookbarn/orders/{{user_info.id}}">Orders</a></li>
        <li><a href="/bookbarn/requests/{{user_info.id}}">Sale / Trade Requests</a></li>
        {% endif %}
    </ul>
    <span class="user">
        {% if request.session.user_id != None %}
            Hello, {{ request.session.name }} | 
            <a href="/logout">Logout</a>
        {% endif %}
    </span>
</div>
<div class="content">
    <h3>Available BookBarn Books</h3>
    <!--
    <ul>
        {% for book in object_list %}
            <img src="{{ book.image.url }}" alt="{{ book.title }}">
            <h4>Title: {{ book.title }}</h4>
            <p>Description: {{ book.desc }}</p>
            <p>Price: ${{ book.price }}</p>
            <p>Listing Type: {{ book.listing_type }}</p>
            <p>Seller: {{ book.seller.first_name }}</p>
            <p>{{ book.faves.count }} Faves</p>
        {% endfor %}
    </ul>
    -->
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th><img src="#" alt="Book Image"></th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Listing Type</th>
                <th>Seller</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <td><img src="../../media/{{book.image}}" alt="Book Image"></td>
                <td>{{book.title}}</td>
                <td>{{book.desc}}</td>
                <td>{{book.price}}</td>
                <td>{{book.listing_type}}</td>
                <td>{{book.seller.first_name}}</td>
                <td>
                    <a href="/bookbarn/add_fave/{{book.id}}">Favorite</a> 
                    {% if request.session.user_id == book.seller.id %}
                    | <a href="/bookbarn/delete/{{book.id}}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="/bookbarn/listing">Add a Listing!</a>
</div>
{% endblock %}