{% extends "base.html" %}
{% load static %}

{% block title %}Book Listing{% endblock %}

{% block content %}
<div id="header">
    <span class="logo">BookBarn - Listing</span>
    <ul class="menu">
        <li><a href="/bookbarn/homepage">Homepage</a></li>
        <li><a href="/bookbarn/account/{{user_info.id}}">Account</a></li>
        <li><a href="/bookbarn/favorited_books/{{user_info.id}}">Favorite Books</a></li>
        <li><a href="/bookbarn/orders/{{user_info.id}}">Orders</a></li>
        <li><a href="/bookbarn/requests/{{user_info.id}}">Book Requests</a></li>
    </ul>
    <span class="user">
        {% if request.session.user_id != None %}
            Hello, {{ request.session.name }} | 
            <a href="/logout">Logout</a>
        {% endif %}
    </span>
</div>
<div class="content">
    <!--<a href="/bookbarn/homepage">Back</a>-->
    <h3>List a BookBarn Book!</h3>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
</div>
{% endblock %}