{% extends "base.html" %}
{% load static %}

{% block title %}Book Requests{% endblock %}

{% block content %}
<div id="header">
    <span class="logo">BookBarn - Requests</span>
    <ul class="menu">
        <li><a href="/bookbarn/homepage">Homepage</a></li>
        <li><a href="/bookbarn/account/{{user_info.id}}">Account</a></li>
        <li><a href="/bookbarn/favorited_books/{{user_info.id}}">Favorited Books</a></li>
        <li><a href="/bookbarn/orders/{{user_info.id}}">Orders</a></li>
    </ul>
    <span class="user">
        {% if request.session.user_id != None %}
            Hello, {{ request.session.name }} | 
            <a href="/logout">Logout</a>
        {% endif %}
    </span>
</div>
<div class="content">
    <h3>Book Requests</h3>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Book Requested</th>
                <th>Seller</th>
                <th>Seller Email</th>
                <th>Request Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for requests in user_books %}
            <tr>
                <td>{{requests.book}}</td>
                <td><a href="#">{{requests.book.seller.first_name}}</td>
                <td>{{requests.book.seller.email}}</td>
                <td>{{requests.content}}</td>
                <td><a href="/bookbarn/messenger/{{requests.book.id}}">Messenger</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}